@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


@if (Model != null)
{
	@if (Model.ShowRequestId)
	{
		<p>
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</p>
	}

	<h2>Error Occured in @Model.ControllerName Controller</h2>
	<h2>The Action method throws error is @Model.ActionName</h2>
	<h2>Teh Error Message is @Model.ErrorMessage</h2>

	<a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName">Go Back</a>
}
else
{
	<h2>Error Occured in @ViewData["ControllerName"] Controller</h2>
	<h2>The Action method throws error is @ViewData["ActionName"]</h2>
	<h2>Teh Error Message is @ViewData["ErrorMessage"]</h2>

	<a asp-controller="@ViewData["ControllerName"]" asp-action="@ViewData["ActionName"]">Go Back</a>
}


