@model IEnumerable<MVC_Complete_App.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryRowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryRowId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubCategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BasePrice)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryRowId }) |
        @Html.ActionLink("List Products", "ShowProductsForCategory", new { id=item.CategoryRowId});
        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryRowId })
    </td>
</tr>
}

</table>
